#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
}
.todo-item{
    border: 0.2rem solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}